@import './variables';
@import './header';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2e2c4;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr auto;
  gap: 10px;
  height: 100vh;
  max-width: 100%;
}

.main-grid__test-item {
  width: 100px;
  height: 100px;
  background-color: azure;
}

.hero-section {
  grid-column: 2 / 11;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    font-size: 2em;
    line-height: 1.49;
    color: #252935;
    max-width: 65%;
    padding: 40px;
    line-break: strict;
  }
  &__image {
    padding: 40px;
    height: 100%;
    max-width: 550px;
    min-width: 200px;
    width: auto;
  }
  &__cta-button {
    font-family: 'Quicksand';
    font-size: 36px;
    font-weight: bolder;
    color: #fbfbfb;
    max-width: 250px;
    margin: 0 40px;
    padding: 23.2px 46.4px 31px 46.4px;
    border-radius: 34px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: #49e2a2;
  }
}
